<footer>
    <div class="f-info">
        <div class="f-info-socials">
           <a href="https://github.com/OfficialSahil548k"><i class="fa-brands fa-github"></i></a>
           <a href="https://www.linkedin.com/in/sahil-sharma-0990b6288/"><i class="fa-brands fa-square-linkedin"></i></a> 
           <a href="https://www.instagram.com/sahil_548k/"><i class="fa-brands fa-instagram"></i></a> 
        </div>
        <div style="padding-top: 10px; font-size: 20px;">&copy; Auralis Nature Hub</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>