<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="icon" type="image/svg+xml" 
      href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="green" d="M471.3 6.7C477.7 .6 487-1.6 495.6 1.2 505.4 4.5 512 13.7 512 24l0 186.9c0 131.2-108.1 237.1-238.8 237.1-77 0-143.4-49.5-167.5-118.7-35.4 30.8-57.7 76.1-57.7 126.7 0 13.3-10.7 24-24 24S0 469.3 0 456C0 381.1 38.2 315.1 96.1 276.3 131.4 252.7 173.5 240 216 240l80 0c13.3 0 24-10.7 24-24s-10.7-24-24-24l-80 0c-39.7 0-77.3 8.8-111 24.5 23.3-70 89.2-120.5 167-120.5 66.4 0 115.8-22.1 148.7-44 19.2-12.8 35.5-28.1 50.7-45.3z"/></svg>'>
</head>
<style>
  body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)),url("https://images.unsplash.com/photo-1701982254095-3e6f2d94c474?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
  }

  .box{
    height: 27.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1{
    display: flex;
    justify-content: center;
    color: rgb(0, 255, 17);
    align-items: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size : 64px;
    font-weight: 900;
  }

  a,h3{
    font-family: "Plus Jakarta Sans", sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 44px;
  }

  a:hover{
    text-decoration: underline;
  }

nav,footer{
    opacity: 0.1;
}
</style>
<body class="home">
  <div class="box">
    <h1>Welcome To Auralis</h1>
    <a href="/listing"><h3>Checkout Locations</h3></a>
</div>
</body>
</html>


