<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auralis</title>
</head>
<body>
    <h1><%= list.title %></h1>
    <form action="/listing/<%=list._id%>?_method=PUT" method="post">
        <label for="id">ID : </label> <%= list._id %>
        <br><br>
        <label for="title">Title : </label>
        <input type="text" name="title" placeholder="enter title">
        <br><br>
        <label for="description">Description : </label>
        <textarea name="description" placeholder="Enter Description"></textarea>
        <br><br>
        <label for="price">Price : </label>
        <input type="number" name="price" placeholder="enter price">
        <br><br>
        <label for="location">Location : </label>
        <input type="text" name="location" placeholder="enter Location">
        <br><br>
        <label for="country">Country : </label>
        <input type="text" name="Ccuntry" placeholder="enter Country">
        <br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>